@mixin hoverEffect() {
    transition: transform 0.7s;
    transform: translateY(-5px) scale(1.4);
    box-shadow: 0px 5px 25px 5px rgba(235, 225, 225, 0.611);
}

@mixin basic-animation($translate-0, $translate-50, $translate-100) {
        0% {
            opacity: 0;
            transform:  $translate-0;
        }
        50% {
            transform: $translate-50;
        }
        100% {
            opacity: 1;
            transform: $translate-100;
        }
}

@mixin beforeAfter($top,$left,$scale,$width,$height) {
    content: "";
    position: absolute;
    top: $top;
    left: $left;
    background-color:white;
    transform: $scale;
    width: $width;
    height: $height;
}