.main-container {
    text-align:center;
    &-title {
        font-size:4rem;
        color:$color-title;
    }
}
.project-big-container {
    display: grid;
    row-gap: 5rem;
    justify-items: center;
}

.project-container {
    width: 80%;
    border: 10px solid gray;
    border-radius:25px;
    box-shadow: 21px 9px 25px 0px black;
    text-align:center;

    &-title {
        font-size:1.5rem;
        color: $color-text;
    }
    &-detail {
        font-size:1.25rem;

        &-link {
            display:flex;
            justify-content: space-evenly;
            padding-bottom: 1rem;

        a:nth-child(1) {
            background-color: #333;
        }
        a:nth-child(2) {
            background-color:#6e5494;
        }
        }
    }
}
