// Nav media query
@media(min-width:1024px){
    body {
        .nav-menu {
            flex-direction: column;
            top:-16px;
            width: 100%;
            height: 60%;
            z-index: 1;
           
            input {
                & + label {
                    width: 60px;
                    height: 60px;
                    align-self: flex-end;
                    position: absolute;
                    top:10px;
                    z-index: 10001;
                    mix-blend-mode: color-dodge;
                }
                &:checked ~ .menu{
                    visibility: visible;
                    animation: 1.5s topToBottom;
                    flex-direction: column;
                    background-color:#3c3131;
                    opacity: 0.9;
                    align-items:flex-end;
                    clip-path: polygon(35% 0, 100% 0%, 100% 100%, 100% 100%);
                }
            }
    
            .menu li {
                justify-content: space-evenly;
                font-size: 1.5rem;
                &:nth-child(1) {
                    margin-right: 45%;
                }
                &:nth-child(2) {
                    margin-right: 23%;
                }
                &:nth-child(3) {
                    margin-right: 1%;
                }
            }
            .smallButtonEffect{
                font-size: 1.25rem;
                padding: 0px;
            }
        }
    }
   
}

@media (min-width: 1440px) {
    body {
        .page-cover {
            h2 {
                font-size: 6rem;
                
               span{
                    font-size: 3.5rem;
                }
            }
        }
    }
}

//Nav media query 



// Main media query
@media (min-width:768px){
    body {
        .project-big-container {
            display:grid;
            grid-template-columns: 50% 50%;
            place-content: center;
        }
       
    }
}

@media (min-width:1024px){
    body{
        .project-big-container {
            grid-template-columns: 40% 40%;
        }
        .project-container-detail-link{
            .smallButtonEffect {
                padding: 0px 5px;
            }
        }
    }
}
@media (min-width:1440px) {
    body {
        .project-container{
            display: flex;
            flex-direction: column;

            &-image-detail {
                display: flex;
                position: relative;
                height: 500px;
            }
            
            &-image {
                width: 100%;
                position: absolute;
                top:20%;
                left: 20%;
                img {
                    box-shadow: 21px 9px 25px 0px black;
                }
            }

            &-detail {
                position: absolute;
                width: 60%;
                height: 90%;
                background-color:whitesmoke;
                border-radius: 25px;
                left: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size:1.25rem;
                box-shadow: 21px 9px 25px 0px black;
            }
        }
    }
}


// Footer media query
@media (min-width:768px){
    body {
        .contact-containerBig-social-media {
            width:50%;
        }
    }
}

@media (min-width:1440px){
    body {
        .contact-containerBig-social-media {
            width:30%;
        }
    }
}
