header {
    position: relative;

    // Header 
    .page-cover {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        h2 {
            position: relative;
            font-size: 4rem;
            color: $color-white;
            z-index: 10000;
            font-family: 'Big Shoulders Stencil Display', cursive;
            animation: 2s bottomToTop;
            
            &:nth-child(2) {
                font-size: 2.5rem;
                 animation: 3.5s bottomToTop2;
                 
                &:hover {
                    @include hoverEffect;
                }
            }
        }
    }

    // Navigation menu
    .nav-menu {
        z-index: 10000;
        position: absolute;
        top: 0;
        right: 0;
        display:flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;

        input {
            display:none;
            & + label {
                width: 50px;
                cursor: pointer;	
                background-image: url(../../img/navbar-white.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:checked ~ div .menu{
                visibility: visible;
                animation: 1.5s rightToLeft;
            }
        }

        .menu {
            display:flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: space-around;
            visibility: hidden;
        }
    }
}

